name: build-test-push

on:
  push:
    tags:
      - "v*"

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          cd module3/milestone2/app
          pip install -r requirements.txt

      - name: Run tests
        run: |
          cd module3/milestone2
          pytest

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        working-directory: module3/milestone2
        run: |
          docker build -t ml-service:${{ github.ref_name }} .